<%- include('../_meta/_config_' + pageName) %>
<title><%= meta.title %></title>
<meta name="keywords" content="<%= meta.keywords %>" />
<meta name="description" content="<%= meta.description %>">

<meta property="og:type" content="<%= meta.ogType %>" />
<meta property="og:url" content="<%= meta.ogUrl %>" />
<meta property="og:locale" content="<%= meta.ogLocale %>" />
<meta property="og:locale:alternate" content="<%= meta.ogLocaleAlternate %>" />
<meta property="og:title" content="<%= meta.ogTitle %>" />
<meta property="og:description" content="<%= meta.ogDescription %>"/>
<meta property="og:image" content="<%= meta.ogImage %>"/>
<meta name="twitter:card" content="<%= meta.twitterCard %>" />
<meta name="twitter:site" content="<%= meta.twitterSite %>" />
<meta name="twitter:url" content="<%= meta.twitterUrl %>" />
<meta name="twitter:title" content="<%= meta.twitterTitle %>" />
<meta name="twitter:image" content="<%= meta.twitterImage %>"/>
<meta name="viewport" content="<%= meta.viewport %>"/>
<meta name="apple-mobile-web-app-capable" content="<%= meta.appleMobileWebAppCapable %>" />
<meta name="apple-mobile-web-app-status-bar-style" content="<%= meta.appleMobileWebAppStatusBarStyle %>" />
<link rel="shortcut icon" type="image/x-icon" href="<%= meta.shortcutIcon %>" />
<link rel="alternate" href="<%= meta.alternate.default.href %>" hreflang="<%= meta.alternate.default.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.ja_jp.href %>" hreflang="<%= meta.alternate.ja_jp.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.en_jp.href %>" hreflang="<%= meta.alternate.en_jp.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.zh_jp.href %>" hreflang="<%= meta.alternate.zh_jp.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.ko_jp.href %>" hreflang="<%= meta.alternate.ko_jp.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.fr_jp.href %>" hreflang="<%= meta.alternate.fr_jp.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.ja.href %>" hreflang="<%= meta.alternate.ja.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.en.href %>" hreflang="<%= meta.alternate.en.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.zh.href %>" hreflang="<%= meta.alternate.zh.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.ko.href %>" hreflang="<%= meta.alternate.ko.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.fr.href %>" hreflang="<%= meta.alternate.fr.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.en_us.href %>" hreflang="<%= meta.alternate.en_us.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.en_eu.href %>" hreflang="<%= meta.alternate.en_eu.hreflang %>" />
<link rel="alternate" href="<%= meta.alternate.sp.href %>" />
<link rel="alternate" href="<%= meta.alternate.android.href %>" />
<link rel="apple-touch-icon" href="<%= meta.appleTouchIcon %>">

<link rel="canonical" href="<%= meta.canonical %>">