<% meta = {
    title: 'Tmpl 仮想通貨ビットコイン（Bitcoin）の購入/販売所/取引所【bitFlyer（ビットフライヤー）】',
    keywords: 'ビットコイン,bitcoin',
    description: 'bitFlyer（ビットフライヤー）ではTmpl 仮想通貨ビットコインを透明な価格で簡単に取引することができます。チャートで相場確認も可能。bitFlyer（ビットフライヤー）は皆様のビットコインに関するあらゆる取引をサポートし、ビットコインの普及に貢献します。',
    ogType: 'website',
    ogUrl: 'https://bitflyer.com/',
    ogLocale: 'ja_JP',
    ogLocaleAlternate: 'en_US',
    ogTitle: 'Tmpl 仮想通貨ビットコイン（Bitcoin）の購入/販売所/取引所【bitFlyer（ビットフライヤー）】',
    ogDescription: 'bitFlyer（ビットフライヤー）ではTmpl 仮想通貨ビットコインを透明な価格で簡単に取引することができます。チャートで相場確認も可能。bitFlyer（ビットフライヤー）は皆様のビットコインに関するあらゆる取引をサポートし、ビットコインの普及に貢献します。',
    ogImage: 'https://bitflyer.blob.core.windows.net/pub/common/theme/images/bitFlyer_logo_ogp.png',
    twitterCard: 'photo',
    twitterSite: '@bitflyer',
    twitterUrl: 'https://bitflyer.com/',
    twitterTitle: 'Tmpl 仮想通貨ビットコイン（Bitcoin）の購入/販売所/取引所【bitFlyer（ビットフライヤー）】',
    twitterImage: 'https://bitflyer.blob.core.windows.net/pub/common/theme/images/bitFlyer_logo_ogp.png',
    viewport: 'width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0',
    appleMobileWebAppCapable: 'yes',
    appleMobileWebAppStatusBarStyle: 'black',
    shortcutIcon: '/favicon.ico',
    alternate: {
        default: {
            href: 'https://bitflyer.com/',
            hreflang: 'x-default'
        },
        ja_jp: {
            href: 'https://bitflyer.com/ja-jp/',
            hreflang: 'ja-jp'
        },
        en_jp: {
            href: 'https://bitflyer.com/en-jp/',
            hreflang: 'en-jp'
          },
        zh_jp: {
          href: 'https://bitflyer.com/zh-jp/',
          hreflang: 'zh-cmn-hans-jp'
        },
        ko_jp: {
          href: 'https://bitflyer.com/ko-jp/',
          hreflang: 'ko-jp'
        },
        fr_jp: {
          href: 'https://bitflyer.com/fr-jp/',
          hreflang: 'fr-jp'
        },
        ja: {
          href: 'https://bitflyer.com/ja-jp/',
          hreflang: 'ja'
        },
        en: {
          href: 'https://bitflyer.com/en-jp/',
          hreflang: 'en'
        },
        zh: {
          href: 'https://bitflyer.com/zh-jp/',
          hreflang: 'zh-cmn-hans'
        },
        ko: {
          href: 'https://bitflyer.com/ko-jp/',
          hreflang: 'ko'
        },
        fr: {
          href: 'https://bitflyer.com/fr-jp/',
          hreflang: 'fr'
        },
        en_us: {
          href: 'https://bitflyer.com/en-us/',
          hreflang: 'en-us'
        },
        en_eu: {
          href: 'https://bitflyer.com/en-eu/',
          hreflang: 'en-eu'
        },
        sp: {
          href: 'https://bitflyer.com/ex/sp/'
        },
        android: {
          href: 'android-app://jp.bitflyer.BFApp.Droid/bitflyer/open'
        }
    },
    appleTouchIcon: '/Images/custom_icon.png',
    canonical: 'https://bitflyer.com/ja-jp/'
}; %>