<% const ejsRoot = './_templates/' %>

<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<%- include(ejsRoot + '_head', { pageName: 'index' }) %>
<!-- css:main -->
</head>
<body>
    <div class="container">
        <div class="container__inner">
            <i class="amazon"></i>
            <i class="android"></i>
            <i class="appleinc"></i>
            <i class="facebook"></i>
            <i class="github"></i>
            <i class="google-plus"></i>
            <i class="instagram"></i>
            <i class="onedrive"></i>
            <i class="twitter"></i>
            <i class="youtube"></i>
            <i class="logo"></i>
        </div>
        <div class="container__inner">
            <svg><use xlink:href="img/sprite.svg#amazon" /></svg>
            <svg><use xlink:href="img/sprite.svg#android" /></svg>
            <svg><use xlink:href="img/sprite.svg#appleinc" /></svg>
            <svg><use xlink:href="img/sprite.svg#facebook" /></svg>
            <svg><use xlink:href="img/sprite.svg#github" /></svg>
            <svg><use xlink:href="img/sprite.svg#google-plus" /></svg>
            <svg><use xlink:href="img/sprite.svg#instagram" /></svg>
            <svg><use xlink:href="img/sprite.svg#onedrive" /></svg>
            <svg><use xlink:href="img/sprite.svg#twitter" /></svg>
            <svg><use xlink:href="img/sprite.svg#youtube" /></svg>
        </div>
        <div class="container__inner"></div>
    </div>

    <div class="container__inner">
        <img src="img/logo.png" alt="" />
    </div>

    <div class="container__inner">
        <button class="btn">SUBMIT</button>
        <button class="btn btn--primary">SUBMIT</button>
    </div>
    <!-- js:vendor -->
    <!-- js:main -->

</body>

</html>