<% const ejsRoot = './_templates/' %>

<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<%- include(ejsRoot + '_head', { pageName: 'tmpl' }) %>
<!-- css:tmpl -->
</head>
<body>
    <div class="container">
        <div class="container__inner">
            <i class="amazon"></i>
            <i class="android"></i>
            <i class="appleinc"></i>
            <i class="facebook"></i>
            <i class="github"></i>
            <i class="google-plus"></i>
            <i class="instagram"></i>
            <i class="onedrive"></i>
            <i class="twitter"></i>
            <i class="youtube"></i>
            <i class="logo"></i>
        </div>
        <div class="container__inner">
            <svg><use xlink:href="#amazon" /></svg>
            <svg><use xlink:href="#android" /></svg>
            <svg><use xlink:href="#appleinc" /></svg>
            <svg><use xlink:href="#facebook" /></svg>
            <svg><use xlink:href="#github" /></svg>
            <svg><use xlink:href="#google-plus" /></svg>
            <svg><use xlink:href="#instagram" /></svg>
            <svg><use xlink:href="#onedrive" /></svg>
            <svg><use xlink:href="#twitter" /></svg>
            <svg><use xlink:href="#youtube" /></svg>
        </div>
        <div class="container__inner"></div>
    </div>

    <div class="container__inner">
        <img src="img/logo.png" alt="" />
    </div>

    <!-- js:vendor -->
    <!-- js:tmpl -->
</body>

</html>