/*
Button

ボタンコンポーネントです。

.btn - 基本スタイル
.btn:hover - ホバースタイル
.btn--primary - プライマリースタイル

markup:
<button class="btn {$modifiers}">ボタンのテキスト</button>

Styleguide 1.0.0
*/

.btn {
    padding: .5em 1em;
    border: none;
    appearance: none;

    &:hover {
        opacity: .6;
    }
    &--primary {
        background-color: #2f9dda;
        color: #fff;
    }
}
