@mixin sprite-width-x2($sprite) {
    width: nth($sprite, 5) / 2;
}

@mixin sprite-height-x2($sprite) {
    height: nth($sprite, 6) / 2;
}

@mixin sprite-position-x2($sprite) {
    $sprite-offset-x: nth($sprite, 3) / 2;
    $sprite-offset-y: nth($sprite, 4) / 2;
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-x2($sprite) {
    @include sprite-image($sprite);
    @include sprite-position-x2($sprite);
    @include sprite-width-x2($sprite);
    @include sprite-height-x2($sprite);
    background-size: nth($sprite, 7) / 2 auto;
}
