/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$amazon-x: 240px;
$amazon-y: 124px;
$amazon-offset-x: -240px;
$amazon-offset-y: -124px;
$amazon-width: 32px;
$amazon-height: 32px;
$amazon-total-width: 500px;
$amazon-total-height: 156px;
$amazon-image: '../img/sprite.png';
$amazon: 240px 124px -240px -124px 32px 32px 500px 156px '../img/sprite.png';
$android-x: 176px;
$android-y: 124px;
$android-offset-x: -176px;
$android-offset-y: -124px;
$android-width: 32px;
$android-height: 32px;
$android-total-width: 500px;
$android-total-height: 156px;
$android-image: '../img/sprite.png';
$android: 176px 124px -176px -124px 32px 32px 500px 156px '../img/sprite.png';
$appleinc-x: 80px;
$appleinc-y: 124px;
$appleinc-offset-x: -80px;
$appleinc-offset-y: -124px;
$appleinc-width: 32px;
$appleinc-height: 32px;
$appleinc-total-width: 500px;
$appleinc-total-height: 156px;
$appleinc-image: '../img/sprite.png';
$appleinc: 80px 124px -80px -124px 32px 32px 500px 156px '../img/sprite.png';
$facebook-x: 112px;
$facebook-y: 124px;
$facebook-offset-x: -112px;
$facebook-offset-y: -124px;
$facebook-width: 32px;
$facebook-height: 32px;
$facebook-total-width: 500px;
$facebook-total-height: 156px;
$facebook-image: '../img/sprite.png';
$facebook: 112px 124px -112px -124px 32px 32px 500px 156px '../img/sprite.png';
$github-x: 144px;
$github-y: 124px;
$github-offset-x: -144px;
$github-offset-y: -124px;
$github-width: 32px;
$github-height: 32px;
$github-total-width: 500px;
$github-total-height: 156px;
$github-image: '../img/sprite.png';
$github: 144px 124px -144px -124px 32px 32px 500px 156px '../img/sprite.png';
$google-plus-x: 336px;
$google-plus-y: 124px;
$google-plus-offset-x: -336px;
$google-plus-offset-y: -124px;
$google-plus-width: 32px;
$google-plus-height: 32px;
$google-plus-total-width: 500px;
$google-plus-total-height: 156px;
$google-plus-image: '../img/sprite.png';
$google-plus: 336px 124px -336px -124px 32px 32px 500px 156px '../img/sprite.png';
$instagram-x: 208px;
$instagram-y: 124px;
$instagram-offset-x: -208px;
$instagram-offset-y: -124px;
$instagram-width: 32px;
$instagram-height: 32px;
$instagram-total-width: 500px;
$instagram-total-height: 156px;
$instagram-image: '../img/sprite.png';
$instagram: 208px 124px -208px -124px 32px 32px 500px 156px '../img/sprite.png';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 500px;
$logo-height: 124px;
$logo-total-width: 500px;
$logo-total-height: 156px;
$logo-image: '../img/sprite.png';
$logo: 0px 0px 0px 0px 500px 124px 500px 156px '../img/sprite.png';
$onedrive-x: 272px;
$onedrive-y: 124px;
$onedrive-offset-x: -272px;
$onedrive-offset-y: -124px;
$onedrive-width: 32px;
$onedrive-height: 32px;
$onedrive-total-width: 500px;
$onedrive-total-height: 156px;
$onedrive-image: '../img/sprite.png';
$onedrive: 272px 124px -272px -124px 32px 32px 500px 156px '../img/sprite.png';
$twitter-x: 304px;
$twitter-y: 124px;
$twitter-offset-x: -304px;
$twitter-offset-y: -124px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 500px;
$twitter-total-height: 156px;
$twitter-image: '../img/sprite.png';
$twitter: 304px 124px -304px -124px 32px 32px 500px 156px '../img/sprite.png';
$youtube-x: 0px;
$youtube-y: 124px;
$youtube-offset-x: 0px;
$youtube-offset-y: -124px;
$youtube-width: 80px;
$youtube-height: 32px;
$youtube-total-width: 500px;
$youtube-total-height: 156px;
$youtube-image: '../img/sprite.png';
$youtube: 0px 124px 0px -124px 80px 32px 500px 156px '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
