@import '~bootstrap/scss/bootstrap-reboot';
@import '_sprite';
@import '_sprite_x2';

body {
    color: #999;
    padding: 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: inherit;
        filter: grayscale(80%);
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
}

@media screen and (min-width: 320px) {
    .container {
        &__unused1 {
            display: flex;
            color: #fff;
        }
        &__unused2 {
            display: flex;
            color: #fff;
        }
        &__inner {
            i {
                display: inline-block;
                &.amazon {
                    @include sprite($twitter);
                }
                &.android {
                    @include sprite($android);
                }
                &.appleinc {
                    @include sprite($appleinc);
                }
                &.facebook {
                    @include sprite($facebook);
                }
                &.github {
                    @include sprite($github);
                }
                &.google-plus {
                    @include sprite($google-plus);
                }
                &.instagram {
                    @include sprite($instagram);
                }
                &.onedrive {
                    @include sprite($onedrive);
                }
                &.twitter {
                    @include sprite($twitter);
                }
                &.youtube {
                    @include sprite($youtube);
                }
            }
            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .container {
        &__unused3 {
            display: flex;
            color: #fff;
        }
        &__unused4 {
            display: flex;
            color: #fff;
        }
        &__inner {
            i {
                display: inline-block;
                &.amazon {
                    @include sprite($amazon);
                }
                &.android {
                    @include sprite($android);
                }
                &.appleinc {
                    @include sprite($appleinc);
                }
                &.facebook {
                    @include sprite($facebook);
                }
                &.github {
                    @include sprite($github);
                }
                &.google-plus {
                    @include sprite($google-plus);
                }
                &.instagram {
                    @include sprite($instagram);
                }
                &.onedrive {
                    @include sprite($onedrive);
                }
                &.twitter {
                    @include sprite($twitter);
                }
                &.youtube {
                    @include sprite($youtube);
                }
                &.logo {
                    @include sprite-x2($logo);
                }
            }
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}
